<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ScribbleSynch</title>
    <link rel="stylesheet" href="../public/css/canvas.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../public/js/canvas.js" defer></script>
  </head>
  <body>
    <div class="container">
      <section class="ToolsBoard">
        <div class="row">
          <label class="title">Shapes</label>
          <ul class="options">
            <li class="option tool" id="Rectangle">
              <img src="../public/images/icons/rectangle.svg" alt="" />
              <span>Rectangle</span>
            </li>
            <li class="option tool" id="Circle">
              <img src="../public/images/icons/circle.svg" alt="" />
              <span>Circle</span>
            </li>
            <li class="option tool" id="Triangle">
              <img src="../public/images/icons/triangle.svg" alt="" />
              <span>Triangle</span>
            </li>
            <li class="option">
              <input type="checkbox" id="FillColor" />
              <label for="FillColor">Fill color</label>
            </li>
          </ul>
        </div>
        <div class="row">
          <label class="title">Options</label>
          <ul class="options">
            <li class="option active tool" id="Brush">
              <img src="../public/images/icons/brush.svg" alt="" />
              <span>Brush</span>
            </li>
            <li class="option tool" id="Eraser">
              <img src="../public/images/icons/eraser.svg" alt="" />
              <span>Eraser</span>
            </li>
            <li class="option">
              <input type="range" id="SizeSlider" min="1" max="30" value="5" />
            </li>
          </ul>
        </div>
        <div class="row colors">
          <label class="title">Colors</label>
          <ul class="options">
            <li class="option"></li>
            <li class="option selected"></li>
            <li class="option"></li>
            <li class="option"></li>
            <li class="option">
              <input type="color" id="ColorPicker" value="#4A98F7" />
            </li>
          </ul>
        </div>
        <div class="row buttons">
          <button class="ClearCanvas">Clear Canvas</button>
          <button class="SaveImage">Save as Image</button>
        </div>
      </section>
      <section class="DrawingBoard">
        <canvas></canvas>
      </section>
    </div>
  </body>
</html>
